
<!-- pdf-viewer.component.html -->
<div *ngIf="pdfSrc ; else noData">
  <iframe [src]="pdfSrc" width="100%" height="600px" frameborder="0"></iframe>
</div>
<ng-template #noData>
  <div style="height:200px; width:100%">
    <h4> {{labelArchivo}}</h4>
  </div>
</ng-template>

  <!-- <div *ngIf="pdfSrc">
    <iframe [src]="pdfSrc" width="100%" height="600px" frameborder="0"></iframe>
  </div> -->


  <!-- <embed
 [src]="url"
 type="application/pdf"
 width="100%"
 height="100%" > -->


  <!-- <iframe [src]="url" width="100%" height="100%" type="application/pdf" target="_parent">
   Este navegador no soporta la visualización de archivos PDF
 </iframe>
 <object  [data]="url" width="500" height="375"  target="_parent"> -->



