:host {
  display: block;
}

.align-end {
  display: flex;
  align-items: flex-end; /* Aligns content vertically to the end */
}

.pd-btn{
  padding-left: 1rem;
}

ion-fab-button {
  --background: #666666;
  --color: white;
  --border-radius: 50%;
}

ion-fab-button:hover {
  --background: #666666;
}

ion-fab {
  margin-bottom: 3.5rem;
}

